<html>
<body>
<div>
<!--  <img src="assets/logo.png" alt="" height="45px" width="242px"></div> -->
<p>
  
Hello Mr/Mrs<h3><%=@contact.first_name%></h3><h3><%=@contact.last_name%></h3><h3><%=@contact.phone_no%></h3><h3><%=@contact.email%></h3>
<h3><%=@contact.message%></h3>
We got your message and will get back to you shortly.
In the meantime, feel free to join our community !
we will contact you soon!!
<p>
thanks again for showing intrest with our Company<br>
</p>
</body>
</html>
